#    판다스를 시작해 봅시다

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# 판다스 import하기

In [6]:
# pandas impord
import pandas as pd

In [9]:
n = 10
m = 15
print(n)
print(m)

10
15

# 1. 시리즈를 다루어 봅시다

In [10]:
srdata = pd.Series([1,2, 3, 4, 5])
srdata

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
list_data = [1, 2, 3, 4, 5]
list_name = ["a", "b", "c", "d", "e"]
srdata2 = pd.Series(data = list_data, index = list_name)
srdata2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
srdata2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
srdata2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [14]:
srdata2.name = "number"
srdate2.index.name = "id"
srdata2

NameError: name 'srdate2' is not defined

In [15]:
pandas.core.series.Series

NameError: name 'pandas' is not defined

In [16]:
srdata2.name = "value"
srdate2.index.name = "id"
srdata2

NameError: name 'srdate2' is not defined

In [17]:
srdata2.name = "number"
srdata2.index.name = "id"
srdata2

id
a    1
b    2
c    3
d    4
e    5
Name: number, dtype: int64

In [18]:
srdata2.name = "value"
srdata2.index.name = "id"
srdata2

id
a    1
b    2
c    3
d    4
e    5
Name: value, dtype: int64

In [19]:
pandas.core.series.Series

NameError: name 'pandas' is not defined

In [22]:
from pandas import Series
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
sr_dd = Series(dict_data, dtype=float, name="dictData")
sr_dd

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: dictData, dtype: float64

In [25]:
indexes = ["A", "B", "C", "D", "E", "F", "G", "H"]
srobj = Series(dict_data, index = indexes)
srobj

A   NaN
B   NaN
C   NaN
D   NaN
E   NaN
F   NaN
G   NaN
H   NaN
dtype: float64

In [26]:
tup_data = ('영인', '2010-05-01', '여', True)
srdata = Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])
srdata

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [27]:
srdata[0]

'영인'

In [31]:
print(srdata[1: 4], '\n')
print(srdata['생년월일': '학생여부'])

생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

생년월일    2010-05-01
성별               여
학생여부          True
dtype: object